<div local-class="output-type-button-bar">
  <button local-class="output-type-button" onClick={{action (mut outputType) 'raw'}}>Raw</button>
  <button local-class="output-type-button" onClick={{action (mut outputType) 'rendered'}}>Rendered</button>
  <button local-class="output-type-button" onClick={{action (mut outputType) 'text'}}>Text</button>
</div>
<div local-class="output-contents">
  {{#if isOutputTypeRaw}}
    {{as-json mobiledoc}}
  {{else if isOutputTypeRendered}}
    {{#if mobiledoc}}
      {{render-mobiledoc
        mobiledoc=mobiledoc
        cardNames=cardNames}}
      {{/if}}
    {{else if isOutputTypeText}}
      {{mobiledocInText}}
    {{/if}}
</div>
