<div class="playground">
  <div class="editor-container">
    {{#mobiledoc-editor
      mobiledoc=mobiledocExample
      did-create-editor=(action 'mobiledocEditorWasCreated')
      on-change=(action 'mobiledocWasUpdated')
      as |editor|}}
      {{#if textSelected}}
        {{#tether-to-selection}}
          <div>
            {{#mobiledoc-markup-button editor=editor for="b"}}
              Bold
            {{/mobiledoc-markup-button}}
            {{#mobiledoc-markup-button editor=editor for="em"}}
              Italic
            {{/mobiledoc-markup-button}}
            {{mobiledoc-link-button editor=editor}}
          </div>
        {{/tether-to-selection}}
      {{/if}}

      <div class="editor-toolbar">
        {{#mobiledoc-section-button editor=editor for="h1"}}
          Heading
        {{/mobiledoc-section-button}}
        {{#mobiledoc-section-button editor=editor for="h2"}}
          Subheading
        {{/mobiledoc-section-button}}
        {{#mobiledoc-section-button editor=editor for="blockquote"}}
          Blockquote
        {{/mobiledoc-section-button}}
        {{#mobiledoc-section-button editor=editor for="ul"}}
          Unordered List
        {{/mobiledoc-section-button}}
        {{#mobiledoc-section-button editor=editor for="ol"}}
          Ordered List
        {{/mobiledoc-section-button}}
      </div>
    {{/mobiledoc-editor}}
  </div>

  <div class="output-container">
    <div class="output-type-button-bar">
      <button class="output-type-button" onClick={{action (mut outputType) 'raw'}}>Raw</button>
      <button class="output-type-button" onClick={{action (mut outputType) 'rendered'}}>Rendered</button>
      <button class="output-type-button" onClick={{action (mut outputType) 'text'}}>Text</button>
    </div>
    <div class="output-contents">
      {{#if isOutputTypeRaw}}
        {{as-json mobiledocExample}}
      {{else if isOutputTypeRendered}}
        {{#if mobiledocExample}}
          {{render-mobiledoc
            mobiledoc=mobiledocExample
            cardNames=cardNames}}
        {{/if}}
      {{else if isOutputTypeText}}
        {{mobiledocExampleInText}}
      {{/if}}
    </div>
  </div>
</div>
